<!DOCTYPE html>
html.page(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LaslesVpn
    link(rel="stylesheet", href="./index.css")

  body.page__body

    header.header.page__header
      .logo
        img.logo__img(src="./images/logo.svg", alt="LaslesVpn")
        p.logo__title Lasles
        span.logo__span vpn
      nav.nav
        a.nav__link(href="#") About
        a.nav__link(href="#") Features
        a.nav__link(href="#") Pricing
        a.nav__link(href="#") Testimonials
        a.nav__link(href="#") Help
      .header__sign
        button.button.button__type_sign-in Sign In
        button.button.button__type_sign-up Sign Up

    main.content.page__content

      section.view
        .view__info
          h1.view__title Want anything to be easy with 
          span.view__title-span LaslesVPN.
          p.view__subtitle Provide a network for all your needs with ease and fun using #[span.view__subtitle-span LaslesVPN] discover interesting features from us.
          button.view__button.button Get Started
        img.view__img(src="./images/view.jpg", alt="Using LaslesVpn")

      section.numbers
        .numbers__item
          .numbers__img.numbers__img_type_user
          h2.numbers__title 90+
          p.numbers__subtitle Users
        .numbers__item
          .numbers__img.numbers__img_type_location
          h2.numbers__title 30+
          p.numbers__subtitle Locations
        .numbers__item
          .numbers__img.numbers__img_type_server
          h2.numbers__title 50+
          p.numbers__subtitle Servers
    
      section.features
        img.features__img(src="./images/features.jpg", alt="Features")
        .features__info
          h2.features__title We Provide Many Features You Can Use
          p.features__subtitle You can explore the features that we provide with fun and have their own functions each feature.
          ul.features__list
            li.features__list-item Powerfull online protection
            li.features__list-item Internet without borders
            li.features__list-item Supercharged VPN
            li.features__list-item No specific time limits

      section.plan
        .plan__container
          h2.plan__title Choose Your Plan
          p.plan__subtitle Let's choose the package that is best for you and explore it happily and cheerfully.

          article.card.card_name_free
            img.card__img(src="./images/free.jpg", alt="Free")
            h3.card__title Free Plan
            ul.card__list.card__list_type_free
              li.card__list-item Unlimited Bandwitch
              li.card__list-item Encrypted Connection
              li.card__list-item Yes Traffic Logs
              li.card__list-item Works on All Devices
            p.card__price Free
            button.button.card__button Select

          article.card.card_name_standart
            img.card__img(src="./images/standart.jpg", alt="Standart")
            h3.card__title Standard Plan
            ul.card__list.card__list_type_standart
              li.card__list-item Unlimited Bandwitch
              li.card__list-item Encrypted Connection
              li.card__list-item Yes Traffic Logs
              li.card__list-item Works on All Devices
              li.card__list-item Connect Anyware
            p.card__price $9 / mo
            button.button.card__button Select

          article.card.card_name_premium
            img.card__img(src="./images/premium.jpg", alt="Premium")
            h3.card__title Premium Plan
            ul.card__list.card__list_type_premium
              li.card__list-item Unlimited Bandwitch
              li.card__list-item Encrypted Connection
              li.card__list-item Yes Traffic Logs
              li.card__list-item Works on All Devices
              li.card__list-item Connect Anyware
              li.card__list-item Get New Features
            p.card__price $12 #[span.card__price-span / mo]
            button.button.card__button Select

      section.global
        .global__container
          h2.global__title Huge Global Network of Fast VPN
          p.global__text See #[span.global__text-span LaslesVPN] everywhere to make it easier for you when you move locations.
          img.global__img(src="./images/map.png", alt="Global Network of VPN")
          .partners.global__partners
            img.partners__img(src="./images/netflix.svg", alt="Netflix")
            img.partners__img(src="./images/reddit.svg",   alt="Reddit")
            img.partners__img(src="./images/amazon.svg", alt="Amazon")
            img.partners__img(src="./images/discord.svg", alt="Discord")
            img.partners__img(src="./images/spotify.svg", alt="Spotify")

      section.reviews
        .reviews__wrapper
          h2.reviews__title Trusted by Thousands of Happy Customer
          p.reviews__text These are the stories of our customers who have joined us with great pleasure when using this crazy feature.
          .reviews__container
            .review
              img.review__avatar(src="../images/review_robert.jpg", alt="Robert")
              h3.review__name Viezh Robert
              p.review__location Warsaw, Poland
              p.review__rating 4.5
              img.review__star(src="../images/star.svg", alt="Star")
              p.review__text “Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best.”
            .review
              img.review__avatar(src="../images/review_christy.jpg", alt="Christy")
              h3.review__name Yessica Christy
              p.review__location Shanxi, China
              p.review__rating 4.5
              img.review__star(src="../images/star.svg", alt="Star")
              p.review__text “I like it because I like to travel far and still can connect with high speed.”
            .review
              img.review__avatar(src="../images/review_jou.jpg", alt="Jou")
              h3.review__name Kim Young Jou
              p.review__location Seoul, South Korea
              p.review__rating 4.5
              img.review__star(src="../images/star.svg", alt="Star")
              p.review__text “This is very unusual for my business that currently requires a virtual private network that has high security.”.
            .review
              img.review__avatar(src="../images/review_smith.jpg", alt="Smith")
              h3.review__name Mr.Smith
              p.review__location London, England
              p.review__rating 4.6
              img.review__star(src="../images/star.svg", alt="Star")
              p.review__text “Huuuuuuuuuuuuuuuuuuge service.”
            .review
              img.review__avatar(src="../images/review_jack.jpg", alt="Jack")
              h3.review__name Jack McKane
              p.review__location Florida, USA
              p.review__rating 4.4
              img.review__star(src="../images/star.svg", alt="Star")
              p.review__text “Very helpful VPN in our business.”
            button.reviews__button.reviews__button_line_left
            button.reviews__button.reviews__button_line_right

    footer.footer