.button
  @extend %text
  padding: 7px 45px
  color: #f53855
  background: transparent
  border: 1px solid #F53855
  box-sizing: border-box
  border-radius: 50px
  cursor: pointer

  &__type_sign-in
    color: #0B132A
    border: none
    padding: 0
    margin-right: 30px
    &:hover
      color: red

  &__type_sign-up:hover
    background-color: #F53855
    color: #fff
