.view
  display: flex
  flex-direction: row
  justify-content: space-between

  &__info

  &__title
    display: inline
    font-size: 50px
    line-height: 70px
    font-weight: 500
    max-width: 555px

  &__span
    font-size: 50px
    line-height: 70px
    font-weight: 700

  &__img
    width: 611px
    height: 382px
