<!DOCTYPE html>
html.page(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LaslesVpn
    link(rel="stylesheet", href="./index.css")

  body.page__body

    header.header.page__header
      .logo
        img.logo__img(src="../images/logo.svg", alt="LaslesVpn")
        p.logo__title Lasles
        span.logo__span vpn
      nav.nav
        a.nav__link(href="#") About
        a.nav__link(href="#") Features
        a.nav__link(href="#") Pricing
        a.nav__link(href="#") Testimonials
        a.nav__link(href="#") Help
      .header__sign
        button.button.button__type_sign-in Sign In
        button.button.button__type_sign-up Sign Up

    main.content.page__content

      section.view
        .view__info
          h1.view__title Want anything to be easy with 
          span.view__title-span LaslesVPN.
          p.view__subtitle Provide a network for all your needs with ease and fun using #[span.view__subtitle-span LaslesVPN] discover interesting features from us.
          button.view__button.button Get Started
        img.view__img(src="../images/view.jpg", alt="")

      section.features

      section.plan

      section.global

      section.reviews

    footer.footer