<!DOCTYPE html>
html.page(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LaslesVpn
    link(rel="stylesheet", href="./index.css")

  body.page__body

    header.header.page__header
      .logo
        img.logo__img(src="../images/logo.svg", alt="LaslesVpn")
        p.logo__title Lasles
        span.logo__span vpn
      nav.nav
        a.nav__link(href="#") About
        a.nav__link(href="#") Features
        a.nav__link(href="#") Pricing
        a.nav__link(href="#") Testimonials
        a.nav__link(href="#") Help
      .header__sign
        button.button.button__type_sign-in Sign In
        button.button.button__type_sign-up Sign Up

    main.content.page__content

      section.view
        .view__info
          h1.view__title Want anything to be easy with 
          span.view__title-span LaslesVPN.
          p.view__subtitle Provide a network for all your needs with ease and fun using #[span.view__subtitle-span LaslesVPN] discover interesting features from us.
          button.view__button.button Get Started
        img.view__img(src="../images/view.jpg", alt="Using LaslesVpn")

      section.numbers
        .numbers__item
          .numbers__img.numbers__img_type_user
          h2.numbers__title 90+
          p.numbers__subtitle Users
        .numbers__item
          .numbers__img.numbers__img_type_location
          h2.numbers__title 30+
          p.numbers__subtitle Locations
        .numbers__item
          .numbers__img.numbers__img_type_server
          h2.numbers__title 50+
          p.numbers__subtitle Servers
    
      section.features
        img.features__img(src="../images/features.jpg", alt="Features")
        .features__info
          h2.features__title We Provide Many Features You Can Use
          p.features__subtitle You can explore the features that we provide with fun and have their own functions each feature.
          ul.features__list
            li.features__list-item Powerfull online protection
            li.features__list-item Internet without borders
            li.features__list-item Supercharged VPN
            li.features__list-item No specific time limits

      section.plan
        .plan__container
          h2.plan__title Choose Your Plan
          p.plan__subtitle Let's choose the package that is best for you and explore it happily and cheerfully.

          article.card.card_name_free
            img.card__img(src="../images/free.jpg", alt="Free")
            h3.card__title Free Plan
            ul.card__list.card__list_type_free
              li.card__list-item Unlimited Bandwitch
              li.card__list-item Encrypted Connection
              li.card__list-item Yes Traffic Logs
              li.card__list-item Works on All Devices
            p.card__price Free
            button.button.card__button Select

          article.card.card_name_standart
            img.card__img(src="../images/standart.jpg", alt="Standart")
            h3.card__title Standard Plan
            ul.card__list.card__list_type_standart
              li.card__list-item Unlimited Bandwitch
              li.card__list-item Encrypted Connection
              li.card__list-item Yes Traffic Logs
              li.card__list-item Works on All Devices
              li.card__list-item Connect Anyware
            p.card__price $9 / mo
            button.button.card__button Select

          article.card.card_name_premium
            img.card__img(src="../images/premium.jpg", alt="Premium")
            h3.card__title Premium Plan
            ul.card__list.card__list_type_premium
              li.card__list-item Unlimited Bandwitch
              li.card__list-item Encrypted Connection
              li.card__list-item Yes Traffic Logs
              li.card__list-item Works on All Devices
              li.card__list-item Connect Anyware
              li.card__list-item Get New Features
            p.card__price $12 #[span.card__price-span / mo]
            button.button.card__button Select

      section.global

      section.reviews

    footer.footer