<!DOCTYPE html>
html.page(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LaslesVpn
  body.page__body
    header.header
    main.content
      section.view
      section.features
      section.plan
      section.global
      section.reviews
    footer.footer